.container {
  background-image: url("./backgroud\ img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
}
header {
  margin: 0;
  width: 100%;
  height: 100%;
}

.navbar__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 50px 572px;
}
.navbar__item {
  padding-left: 100px;
  color: #4a4242;
  font-weight: bold;
  font-size: 18px;
}
.navbar__item > a {
  text-decoration: none;
  color: #4a4242;
}
.navbar__item:hover {
  border-bottom: white 1px solid;
  cursor: pointer;
}

.burger-menu {
  display: none;
}
.header__img {
  background-color: aliceblue;
  width: 350px;
  height: 540px;
  margin: 50px 120px;
  text-align: center;
  color: #353232d3;
}
.header__img > p {
  font-weight: 600;
}
.profile__img {
  width: 320px;
  height: 420px;
  padding-left: 1px;
  padding-top: 14px;
}
.header {
  display: flex;
}
.header__content {
  margin-top: 297px;

  margin-left: -56px;
  font-size: 23px;
  color: white;
}
futures > h2 {
  display: flex;
  justify-content: center;
  color: #ffff;
  font-size: 30px;
}
.scills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
}
.scills1 {
  display: flex;
  flex-direction: column;
}
.scills2 {
  display: flex;
  flex-direction: column;
}
.scills3 {
  display: flex;
  flex-direction: column;
}
.scills__icon {
  width: 60px;
  height: 70px;
}
.education {
  margin: 17px;
  padding: 9px;
  text-align: center;
  display: flex;
}
.education__header {
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}
.education__left {
  display: flex;
  flex-direction: column;
}
.education1 {
  border: 1px solid darkgray;
  width: 540px;
  height: 137px;
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: 400;
  color: #fff;
}

.education1:hover {
  border-left: 8px solid #393535;
}
.education__right {
  margin-left: 186px;
  margin-top: 22px;
}
.contact__header {
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.footer__icons {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
.footer__icon1 {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  padding: 10px;
}
